* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Crimson Text", serif;
  text-align: center;
  background-color: #fefefe;
}

/* General styling */

.nav {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.home {
  text-decoration: none;
  z-index: 2;
}

.title {
  color: #303030;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Tangerine", cursive;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 50%;
  transition: 0.5s ease;
}

.link {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 20px;
  color: #303030;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.link:hover,
.link:focus {
  border: 2px solid rgb(93, 143, 83);
}

.hamburger {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 3%;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #303030;
  transition: all 0.3s ease;
}

.section {
  height: auto;
  width: auto;
}

/* Home page */

.container {
  padding-bottom: 4rem;
}

.section-header {
  background-image: url(/img/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 0 16rem 0;
  color: #fefefe;
  font-size: 2rem;
  text-shadow: 2px 2px 20px #303030;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 2.5rem;
  background-color: rgb(93, 143, 83);
  color: #fefefe;
  padding: 4px 8px;
  border-radius: 20px;
}

.container h3 {
  padding: 2rem 0;
  font-size: 1.5rem;
}

.container p {
  margin: 1.5rem 5rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

/* Cabins and saunas styles */

.intro {
  margin: 0 5rem;
}

.intro h2 {
  font-size: 2rem;
  padding: 2rem 0;
}

.intro p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 10px;
  margin: 5rem;
}

.text-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-item h4 {
  font-size: 1.5rem;
  padding: 1rem;
}
.text-item p {
  font-size: 1.2rem;
  padding: 1rem;
}

.grid-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

#sauna1 {
  object-position: center;
}

/* Map section */

#map {
  height: 50vh;
  margin: 5% 20%;
}

/* Contact Form */

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(93, 143, 83);
  padding: 20px;
  margin: 0 5% 5% 5%;
  box-shadow: 3px 3px 10px rgb(93, 143, 83);
}

#form label {
  font-size: 1.5rem;
  color: #fefefe;
  margin: 5px;
}

#form input,
#form select,
#form textarea {
  font-family: "Crimson Text", serif;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 20px;
  border-style: none;
  border-radius: 10px;
}

#form button {
  font-family: "Crimson Text", serif;
  font-size: 1rem;
  background-color: #303030;
  color: #fefefe;
  padding: 10px 30px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

#form button:hover {
  border: 2px solid #fefefe;
}
.form-header {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
}

/* Footer */

footer {
  height: 15vh;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #fefefe;
}

/* Media queries */

@media screen and (max-width: 850px) {
  /* General */

  .nav {
    justify-content: center;
  }

  .home {
    position: absolute;
  }

  .nav.open .home,
  .nav.open .hamburger,
  .nav-links {
    position: fixed;
  }

  .nav-links {
    height: 100vh;
    width: 100%;
    padding: 15vh 0;
    background-color: rgb(93, 143, 83);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-100%);
  }

  .nav.open .nav-links {
    transform: translateY(42.5%);
    transition: all 0.6s ease-in-out;
  }

  .nav.open .link {
    color: #fefefe;
  }
  .nav.open .link:hover,
  .nav.open .link:focus {
    color: #fefefe;
    border: 2px solid #fefefe;
  }

  .hamburger {
    display: block;
  }

  .nav.open #line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: #fefefe;
  }

  .nav.open #line2 {
    opacity: 0;
  }

  .nav.open #line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: #fefefe;
  }

  /* cabins and saunas media queries */

  .section-header {
    padding: 7rem 0 9rem 0;
  }
  .intro {
    margin-bottom: 5rem;
  }
  .grid-container {
    grid-template-columns: 1fr;
    margin: 0.5rem;
  }
  .text-item {
    margin-bottom: 5rem;
  }
  .text-item h4 {
    padding: 1rem;
  }
  .text-item p {
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  .section {
    margin: 1rem;
  }
  .section-header {
    background: none;
    text-shadow: none;
    color: #303030;
    padding: 3rem 0;
  }
} ;
